<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="home::header">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="home::nav">
</nav>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">


    <div th:if="${transList!=null}">
        <h1>Transaction List</h1>
        <br/>
        <h3 th:text="${'Balance: '+ {account.balance}}"></h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID #</th>
                <th>Action</th>
                <th>Amount</th>
                <th>Reason</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="trans:${transList}">
                <td th:text="${{trans.transID}}">
                    Number
                </td>
                <td th:text="${{trans.action}}">
                    Name
                </td>
                <td th:text="${{trans.amt}}">
                    City
                </td>
                <td th:text="${{trans.reason}}">
                    State
                </td>


            </tr>
            </tbody>
        </table>

    </div>

</div>


</body>
<th:block th:replace="home::foot">
</th:block>
</html>
