<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="home::header">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" th:replace="home::nav">
</nav>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="wrapper">
    <div class="section">
        <div class="container">

            <form action="#" th:action="@{/deposit}" th:object="${transaction}" method="post">


                <div class="form-group">
                    <label for="amt">Enter Amount to Withdraw</label>
                    <input type="text" class="form-control" th:field="*{amt}" id="amt" placeholder="Amount"/>
                </div>
                <div class="form-group">
                    <label for="reason">Enter Reason for Transaction</label>
                    <input type="text" class="form-control" th:field="*{reason}" id="reason" placeholder="Reason"/>
                </div>

                <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
            </form>
        </div>
    </div>

</div>
</body>
<th:block th:replace="home::foot">
</th:block>
</html>